
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.logo{
    width: 80px;
         
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
.home-title{
    font-family: 'Lato', sans-serif, serif;
    font-size: 2em;
    color: blue;
    margin-top: 10px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: grey;
    color: black;
    margin-left: 0px;
    text-align: left;
    font-family: 'Lato', sans-serif, serif;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif, serif;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-msg h4{
    color: white;
}
#hero-msg h1, #hero-msg h4{
    
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

h2{
    margin: 0px;
    font-family: 'Lato', sans-serif, serif;
}
h4{
    color: blue;
    font-family: 'Lato', sans-serif, serif;
}



.button-box{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.rivers-card {
    grid-column: 2/4;
    grid-row:2/3 ;
   
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;

}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color: burlywood;
    color: black;
    
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    font-family: 'Lato', sans-serif, serif;
}

main section img{
    text-align: center;
    box-sizing: border-box;
}


body {
    background-color: #fcfbfb; 
    padding: 0px;
    margin: 0px;
}

nav a:hover {
    background-color: black;
    color: white;
}
.book, .join{
    background-color: grey;
    color: yellow;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: blueviolet;
    color:yellow
}

.msg{
    background-color: #6f7364;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: orange;
}
.msg p{
    color: white;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    width: 100%;
    border: 5px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains{
    width: 100%;
    margin-left: 0px;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 2px solid black;
    padding: 0px;
    text-align: left;
    box-shadow: 5px 5px 10px #6f7364;

}


footer{
    background-color: grey;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif, serif;
    margin-top: 200px;
}
footer h3{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
    background-color: #6f7364;
    text-decoration: none;
}

footer .social img{
    padding-top: 15px;

}

#hero-img{
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px
}
footer p{
    font-size: 1.2em;
    text-decoration: none;
}

/*this is styles for river.html page */

#river-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 100px);
    margin-top: 80px;
    margin-bottom: 80px;
   background-color: rgb(169, 157, 134);
   
}
.mountain{
    grid-column: 2/6;
    grid-row: 2/6;
    width: 600px;
    border: 3px solid black;
   
    
   
}
.salmon{
    grid-column: 3/5;
    grid-row: 1/2;
    border: 2px solid black;
    margin-bottom: -64px;
    text-align: center;
    background-color: black;
    color: yellow;
    align-self: center;
    font-family: "lato";
    padding-bottom: 2px;
    
}
.para{
    grid-column: 5/9;
    grid-row: 3/5;
    border: 3px solid black;
    justify-items: center;
    align-self: center;
    margin: 0px;
    background-color: gray;
    padding: 25px;
    font-family: sans-serif;
    text-align: justify;
    
    
    
}
.para:hover {
    opacity: .6;
    transform: scale(1.1);
}
.para2:hover {
    opacity: .6;
    transform: scale(1.1);
}

#river2-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 100px);
    margin-top: 80px;
    
   background-color: rgb(89, 144, 198);
   
}
.mountain2{
    grid-column: 5/9;
    grid-row: 2/6;
    width: 600px;
    border: 3px solid black;
    
   
}
.canyon{
    grid-column: 6/8;
    grid-row: 1/2;
    border: 2px solid black;
    margin-bottom: -64px;
    text-align: center;
    background-color: black;
    color: yellow;
    align-self: center;
    font-family: "lato";
    padding-bottom: 2px;
}
.para2{
    grid-column: 2/6;
    grid-row: 3/5;
    border: 3px solid black;
    text-align: justify;
    background-color: gray;
    padding: 25px;
    font-family: sans-serif;
    justify-items: center;
    align-self: center;
    margin: 0px;
    
}
h2{
    
    margin: 0px;
    
}
#main-para{
    display: grid;
    grid-template-columns: 400px 860px;
    grid-template-rows: 70px 305px;
    
}
.h2-river{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 10px;  
    margin-bottom: -42px;
    text-align: center;
    background-color: blueviolet;
    color: yellow;
    align-self: center;
    font-family: "lato";
    border: 3px solid black;
    
    

}
.rivers-details{
    grid-column: 1/3;
    grid-row: 2/3;
    color: yellow;
    padding: 30px;
    margin-top: 0px;
    font-family: "lato";
   
    justify-self: center;
    background-color: blueviolet;
    margin-bottom: 80px;
    text-align: justify;
    border: 3px solid black;
    justify-items: center;    
}
/* Contact Us Form*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}





@media screen and (max-width: 900px) {
    #hero, .home-grid{
        display: block;
        height: auto;
    }
    #river-grid{
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            